.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(73,9,121,0.976890756302521) 30%, rgba(0,212,255,1) 100%);
    color: white;
    font-size: 30px;
}
.rightside a{
    text-decoration: none;
    padding: 20px;
    margin-left: 30px;
    color: white;
   

}
.leftside{
    margin-right: 900px;
}